html,
button,
input,
select,
textarea,
.pure-g [class *= 'pure-u'] {
  font-family: 'Roboto Slab', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}

body {
  font-weight: 400;
}
