html,
button,
input,
select,
textarea,
.pure-g [class *= 'pure-u'] {
  font-family: 'Roboto Slab', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}

body {
  font-weight: 400;

  color: #616161;
  background: linear-gradient(rgba(215, 215, 215, .80), rgba(215, 215, 215, .80)), url('../images/bg.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
